{% extends "base.html.twig" %}

{% block body %}
    <div class="pt-5 container-fluid">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <input type='submit' value='Add Program'>
    {{ form_end(form) }}
    </div>
{% endblock %}