// assets/styles/app.scss

// customize some Bootstrap variables
$primary: darken(#428bca, 20%);
$spacing: 8px;
$premary: #5aa9e6;
$secondary: #ffe45e;
$text-size: 24px;
$font-title: Montserrat Subrayada;
$font-text: roboto;
$navbar-dark-color: #f9f9f9;
$navbar-dark-hover-color: #ffe45e;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";


.nav-link {
  font-size: $text-size;
  font-family: $font-title;
  color: $navbar-dark-color;
  &:hover {
    color: $navbar-dark-hover-color;
  }
}

.poster {
  height: 400px;
  width: 400px;
}

